html {
  font-size: 62.5%;
}
html body {
  background-color: #0B3B4B;
  color: #FFF !important;
}
#content {
  padding: 1.5rem;
  width: 100%;
}
p.instructions {
  font-size: 30px;
}
table {
  border: 0.1rem solid black;
  border-collapse: collapse;
}
table tr {
  border: 0.1rem solid black;
}
table td {
  border: 0.1rem solid black;
  padding: 1.5rem;
}
textarea {
  width: 100%;
}
input[type="text"],
textarea.description {
  margin-top: 10px;
  padding-top: 10px;
  color: #000;
}
.input-group {
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
}
#submit {
  height: 50px;
  font-size: 20px;
  width: 76%;
  margin-left: 12%;
  margin-top: 20px;
}
#project-submit h1 {
  font-size: 40px;
}
form.submit .btn {
  margin-top: 20px;
  width: 70%;
}
form.submit {
  border: #FFD946 solid 4px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
  padding-bottom: 50px;
}
input[type="text"] {
  box-shadow: none;
  border: none;
  border-radius: 6px;
  color: #000;
}
textarea,
input[type="number"] {
  color: #000 !important;
}
.ui.button {
  border: 1px solid #FFF;
}
.ui.button.primary {
  background-color: #FC5454;
}
.ui.button.primary:hover {
  background-color: #FFBC29;
}
.ui.button.secondary {
  background-color: #0B3B4B;
}
.ui.button.secondary:hover {
  background-color: #C9D41B;
}
#helplink {
  display: block;
  text-decoration: underline;
  color: white;
  font-size: 15px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
